:root {
	--primary-color: #ef9523;
	--primary-color-first-variant: #ef9523;
	--primary-color-second-variant: #c58b3e;
	--secondary-color: #705f49;
	--black: #221d17;
	--white: #eae3da;
	--input-bg-color: #333;
	--input-border-color: #555;
	--input-focus-color: #ef9523;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: 0;
	font-family: 'inter', sans-serif;
	color: var(--white);
	text-decoration: none;
}

*::selection {
	background-color: var(--primary-color);
	color: var(--black);
}
