@import url(./default.css);

body {
	background: url(../img/address-register-background.jpg) #221d1788;
	background-size: cover;
	background-blend-mode: multiply;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	animation: fadeInSlide 1.5s ease-out;
}

form {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 20px;
	width: 50%;
	height: fit-content;
	flex-direction: column;
	gap: 4px;
	padding: 26px;
}

form h1 {
	text-align: center;
	color: var(--primary-color);
	font-weight: 600;
	font-size: 2rem;
	padding-bottom: 20px;
}

.form .button {
	width: 100%;
	padding: 10px;
	background-color: #ef9523;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-top: 18px;
}

.error-message {
	color: #ee4646;
	font-size: 1rem;
	font-weight: 500;
	margin-top: 20px;
}
