body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: rgba(252, 249, 249, 0.822);
}

.h1 {
    margin: 15px;
    font-size: 24px;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    background-color: #c58b3e;
}

#cadastro-tabela {
    width: 90%; /* Aumenta o tamanho da tabela */
    margin: 20px auto; /* Centraliza a tabela */
    border-collapse: collapse; /* Remove os espaçamentos entre as bordas */
}

#cadastro-tabela th, #cadastro-tabela td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

#cadastro-tabela th {
    background-color: #c58b3e; /* Cor de fundo para o cabeçalho */
    color: white;
    font-weight: bold;
}

#cadastro-tabela tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo para linhas alternadas */
}

#cadastro-tabela tr:hover {
    background-color: #f1f1f1; /* Efeito hover */
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 20px auto;
}

.pagination li {
    list-style-type: none;
    margin: 0 5px;
}

.pagination li a {
    display: block;
    padding: 8px 12px;
    background-color: #264653;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination li a:hover, .pagination li.active a {
    background-color: #2a9d8f; /* Cor ao passar o mouse ou página ativa */
}

.pagination li.active a {
    font-weight: bold;
    cursor: default;
}
