body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #705f49;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 24px 20px;
  background-color: #221d17;
  container: inherit;
}

.hidden {
  display: none;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  color: white;
  position: fixed;
}

.nav ul a {
  text-decoration: none;
  color: inherit;
}

.nav ul li:hover {
  color: #ef9523;
  cursor: pointer;
  font-size: 18px;
}