:root {
  --primary-color: #ef9523;
  --secondary-color: #6f6967;
  --background-color: #f4f4f4;
}

@keyframes fadeInSlide {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, var(--secondary-color), var(--background-color));
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.messege {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.messege h2 {
  color: var(--primary-color);
  font-size: 2rem;
  animation: fadeInSlide 1.5s ease-in-out forwards;
  border: 3px solid var(--primary-color);
  padding: 10px 20px;
  border-radius: 10px;
}

.login-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  animation: fadeInSlide 1.5s ease-in-out forwards;
  max-width: 400px;
  width: 100%;
}

.login-card h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.login-card label {
  color: var(--secondary-color);
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  margin-top: 10px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 4px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.login-card input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.login-card button:hover {
  background-color: #f28d1a;
}

.error-message {
  color: red;
  margin-top: 2px;
  font-size: 0.9rem;
}
