@import url(./default.css);

@keyframes fadeInSlide {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

body {
	background-color: var(--secondary-color);
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.messege {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.messege h2 {
	color: var(--primary-color);
	font-size: 2rem;
	animation: fadeInSlide 1.5s ease-in-out forwards;
	border: 3px solid var(--primary-color);
	padding: 10px 20px;
	border-radius: 10px;
}

.login-card {
	background-color: var(--white);
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 300px;
	animation: fadeInSlide 1s ease-in-out forwards;
}

.login-card h2 {
	text-align: center;
	color: var(--primary-color);
	margin-bottom: 20px;
}

.login-card label {
	color: var(--secondary-color);
	font-weight: bold;
	margin-bottom: 5px;
	display: block;
}

.login-card input {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid var(--secondary-color);
	border-radius: 5px;
	box-sizing: border-box;
}

.login-card button {
	width: 100%;
	padding: 10px;
	background-color: var(--primary-color);
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.login-card button:hover {
	background-color: #f28d1a;
}
