<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro Endereço</title>
    <link rel="stylesheet" href="../css/endereco.css" />
  </head>
  <body>
    <form class="form">
      <h1>Cadastre o seu endereço</h1>

      <label for="title">Título</label>
      <input type="text" id="title" name="title" />
      <span id="title-error" class="error-message"></span>

      <label for="cep">CEP</label>
      <input type="text" id="cep" name="cep" />
      <span id="cep-error" class="error-message"></span>

      <label for="address">Endereço</label>
      <input type="text" id="address" name="address" />
      <span id="address-error" class="error-message"></span>

      <label for="number">Número</label>
      <input type="text" id="number" name="number" />
      <span id="number-error" class="error-message"></span>

      <label for="complement">Complemento</label>
      <input type="text" id="complement" name="complement" />
      <span id="complement-error" class="error-message"></span>

      <input type="button" class="button" value="Cadastrar" id="button" />
    </form>

    <script src="../script/endereco.js"></script>
  </body>
</html>
