<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Cadastro Endereço</title>
		<link
			rel="stylesheet"
			href="../css/endereco.css"
		/>
	</head>
	<body>
		<form class="form">
			<h1>Cadastre o seu endereço</h1>

			<label
				>CEP:
				<input
					type="text"
					id="input-zip-code"
					name="zip-code"
				/>
			</label>

			<span
				id="input-zip-code-error"
				class="error-message"
			></span>

			<label
				>Título:
				<input
					type="text"
					id="input-title"
					name="title"
				/>
			</label>
			<span
				id="input-title-error"
				class="error-message"
			></span>

			<label
				>Endereço:
				<input
					type="text"
					id="input-address"
					name="address"
				/>
			</label>
			<span
				id="input-address-error"
				class="error-message"
			></span>

			<label
				>Número:
				<input
					type="text"
					id="input-number"
					name="number"
				/>
			</label>
			<span
				id="input-number-error"
				class="error-message"
			></span>

			<label
				>Complemento:
				<input
					type="text"
					id="input-complement"
					name="complement"
				/>
			</label>
			<span
				id="input-complement-error"
				class="error-message"
			></span>

			<input
				type="button"
				class="button"
				value="Cadastrar endereço"
				id="button"
			/>
		</form>

		<script
			src="../script/endereco.js"
			defer
			type="module"
		></script>
	</body>
</html>
