<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro endereço</title>
    <link rel="stylesheet" href="../css/endereco.css">
</head>
  <body >
    <form class="form">
      <label for="title">Titulo</label>
      <input type="text" id="title" name="title">
      <label for="title">CEP</label>
      <input type="text" id="cep" name="cep">
      <label for="title">Endereço</label>
      <input type="text" id="address" name="address">
      <label for="title">Número</label>
      <input type="text" id="number" name="number">
      <label for="title">complemento</label>
      <input type="text" id="complement" name="complement">
      <input type="button" class="button" value="Cadastrar" id="button" />
  </form>
  <script src="../script//enderco.js"></script>
</body>
</html>