<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/modal.css"> <!-- CSS do modal -->
</head>
<body>
    <nav class="nav">
      <span>Navbar</span>
      <span id="nome_cadastro"></span>
    </nav>

    <h1 class="h1">Dados do Cadastro</h1>
    
    <div id="cadastro-container">
      <table border="1" cellpadding="10" cellspacing="0" id="cadastro-tabela">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>CEP</th>
            <th>Endereço</th>
            <th>Número</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <ul class="pagination" id="pagination"></ul>
    </div>

    <!-- Modal para editar cadastro -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Editar Endereço</h2>
            <label for="modalTitle">Título:</label>
            <input type="text" id="modalTitle" required>
            <label for="modalCep">CEP:</label>
            <input type="text" id="modalCep" required>
            <label for="modalAddress">Endereço:</label>
            <input type="text" id="modalAddress" required>
            <label for="modalNumber">Número:</label>
            <input type="text" id="modalNumber" required>
            <button id="saveButton">Salvar</button>
        </div>
    </div>

    <script src="../script/home.js" defer></script>
</body>
</html>
