<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <nav class="nav">
      <span>Navbar</span>
      <span id="nome_cadastro"></span>
    </nav>

    <h1 class="h1">Dados do Cadastro</h1>
    
    <div id="cadastro-container">
      <table border="1" cellpadding="10" cellspacing="0" id="cadastro-tabela">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>CEP</th>
            <th>Endereço</th>
            <th>Número</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <ul class="pagination" id="pagination">

      </ul>
    </ul>
    </div>

    <script src="../script/home.js"></script>
</body>
</html>
